@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

h1 {
    font-family: 'IBM Plex Sans';
}

.purple-header {
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    color: #8A00FF;
    text-shadow: 1px 3px 12px #ffffff42;
}

.body-font {
    font-family: 'Inter';
}

.section-background {
    background: rgba(1, 2, 10, 0.3);
}

.scale-on-hover:hover
{
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.truncate-link {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
   * PurgeCSS:
   * bg-red-500
   * bg-red-800
   * bg-green-500
   * bg-green-800
**/
