@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

h1 {
    font-family: 'IBM Plex Sans';
}

.purple-header {
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    color: #8A00FF;
    text-shadow: 1px 2px 12px #ffffff42;
}